
GardenOfAge/.vs/GardenOfAge/v16/Browse.VC.db
GardenOfAge/.vs/GardenOfAge/v16/Browse.VC.opendb
GardenOfAge/dragonfly.log
*.tlog
*.ipch
*.obj
*.log
*.pdb
*.ilk
GardenOfAge/.vs/GardenOfAge/v16/.suo
GardenOfAge/dragonfly.log
GardenOfAge/x64/Debug/GardenOfAge.exe
GardenOfAge/x64/Debug/GardenOfAge.exe.recipe
GardenOfAge/x64/Debug/GardenOfAge.vcxproj.FileListAbsolute.txt
GardenOfAge/x64/Debug/vc142.idb
